* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}

.main {
    padding: 3rem;
    width: 800px;
    max-height: 260px;
    overflow: hidden;
    background:crimson;
    color: #fff;
    transition: max-height, background, 0.7s;
}

.main.open {
    max-height: 500px;
    transition: max-height 0.7s;
}

.btn {
    margin-top: 2rem;
    text-decoration: none;
    padding: 10px 23px;
    background: cadetblue;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(119%);
}